<h2>Homepage</h2>

<%= currentUser ? `Welcome ${currentUser.name}` : 'There is no user'%>
<h2>Magic Card Search</h2>
<p>Search your stuff below...</p>
<form method="GET" action="/search/results">
  <select class="selectpick" id="query-select" name="select">
    <option value="name">Name</option>
    <option value="color">color</option>
    <option value="multiverseid">multiverseid</option>
    <option value="set">set</option>
    <option value="type">type</option>
  </select>  
  Search term: <input type="text" name="value">
  <input type="submit">
</form>