<h1> user collection</h1>
<div id="card">

  <% collection.cards.forEach( (card, index) => { %>
    <div class="cardhover">
      <p> 
        <% const cardAmount = amount[index].dataValues.amount %>
        <%=card.name %> 
        <%= (amount[index].dataValues.cardId = card.id) ? ` X ${cardAmount}` : '' %>
        
      </p>
      <img class="hiddenimage" src="<%= card.imgUrl %>" >
    </div>
    <% }) %>
      
    </div>