<h1> user collection</h1>
<div id="card">

  <% collection.cards.forEach( (card, index) => { %>
    <% const cardAmount = amount[index].dataValues.amount %>
    <div class="cardhover">
      <a  href="../search/cards/<%= card.multiverseId %>">
        <%=card.name %> 

      </a>
        <%= (amount[index].dataValues.cardId = card.id) ? ` X ${cardAmount}` : '' %>
        <p>
        <%= card.imgUrl %> 
      </p>
    </div>
    <% }) %>
      
    </div>